*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
}
.container {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  display: grid;
  /* justify-content: center; */
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}
.container > button {
  border-radius: 50%;
  color: black;
  display: grid;
  place-content: center;
  /* background-color: rgb(173, 255, 252); */
  background-color: rgb(144, 240, 242);
  border: 1px solid black;
  font-size: 2rem;

  &:hover,
  &:focus {
    background-color: rgb(65, 190, 186);
    border-radius: 40%;
  }
}
/* .span-two {
  grid-column: span 2;
} */
.output {
  height: 10rem;
  grid-column: 1 / -1;
  border-radius: 2rem;
  background-color: rgb(29, 28, 28);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.85rem 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: auto;

  .previous_operand {
    font-size: 2rem;
  }
  .current_operand {
    font-size: 3rem;
  }
}
